@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}

.menu {
    position: relative;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 130px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(100px);
}

.menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
}

.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    border-radius: 50%;
    color: #fff;
    transform: rotate(calc(360deg / -8 * var(--i)));
    color: transparent;
    transition: 1s;
    transition-delay: 0.5s;
}

.menu.active li a {
    color: var(--clr);
}

.menu li a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: var(--clr);
    transform: rotate(calc(var(--i) * 90deg)) translate(0, 25px);
}

.menu.active li a::before {
    width: 60px;
    height: 60px;
    border: 2px solid var(--clr);
    box-sizing: border-box;
    background: #2f363e;
}

.toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    transition: transform 1.5s;
}

.menu.active .toggle {
    transform: rotate(315deg);

}