@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* flex direction of header crucial for list on mobile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

nav {
    width: 100%;
    background: #00316b;
}

ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li.active,
ul li:hover {
    background: #e91e63;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.menu {
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    display: none;
    justify-content: end;
}

.toggle {
    position: relative;
    width: 40px;
    height: 32px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 #fff;
    transition: .5s;
}

.toggle::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: .5s;
}

.toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: none;
}

.toggle.active::after {
    transform: translateY(0px) rotate(135deg);
}

@media (max-width: 768px) {
    .menu {
        display: flex;
    }

    .toggle {
        display: flex;
    }

    nav {
        height: 91.79vh;
    }

    nav ul {
        position: absolute;
        left: -100%;
        transition: .5s;
    }

    ul li {
        display: block;
        text-align: center;
    }

    nav.active ul {
        left: 0;
    }
}