/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
    background: conic-gradient(#333 0%, #333 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.container::before {
    content: '';
    position: absolute;
    inset: 15px;
    border-radius: 50%;
    background: #222;
    opacity: 0.9;
}

.download {
    position: absolute;
    top: 50%;
    color: #03a9f5;
    font-size: 4em;
    transition: 0.5s;
}