@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background: #21283a;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

header .logo {
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

header .logo span {
    color: #1de5ff;
    border-bottom: 4px solid #1de5ff;
}

header .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../image/menu1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}