@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}

.contact .content p {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #f00;
    margin-top: 30px;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px;
    display: flex;
    cursor: pointer;
}

.container .contactInfo .box .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #01dbc2, #01dbc2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}